@mixin border-left-radius($size)
  border-top-left-radius: $size
  border-bottom-left-radius: $size

@mixin border-right-radius($size)
  border-top-right-radius: $size
  border-bottom-right-radius: $size

@mixin box
  border-radius: 10px
  box-shadow: inset 0 0 6px black

@mixin button
  border-radius: 3px
  cursor: pointer
  padding: 1px 10px 1px 10px

  &:active
    box-shadow: inset 0 0 5px black

@mixin button-active
  background-color: $bright-background

  $from: lighten($bright-background, 15%)
  $to: darken($bright-background, 8%)
  background: linear-gradient($from, $to)

@mixin button-danger
  background-color: $danger-background

  $from: lighten($danger-background, 10%)
  $to: darken($danger-background, 10%)
  background: linear-gradient($from, $to)

@mixin button-dark
  background-color: $dark-background

  $from: $dark-background
  $to: darken($dark-background, 5%)
  background: linear-gradient($from, $to)
