@mixin border-left-radius($size)
  border-top-left-radius: $size
  border-bottom-left-radius: $size

@mixin border-right-radius($size)
  border-top-right-radius: $size
  border-bottom-right-radius: $size

@mixin box
  border-radius: 10px
  box-shadow: inset 0 0 6px $shadow

@mixin button($base, $top, $bottom, $options)
  @if not index($options, 'noradius')
    border-radius: 3px

  cursor: pointer
  padding: 1px 10px 1px 10px

  background-color: $base
  background: linear-gradient($top, $bottom)

  user-select: none

  @if not index($options, 'static')
    &:hover
      background-color: lighten($base, 2%)
      background: linear-gradient(lighten($top, 2%), lighten($bottom, 2%))

    &:active
      box-shadow: inset 0 0 5px $shadow

@mixin button-active($options: '')
  $base: $bright-background
  $top: lighten($base, 15%)
  $bottom: darken($base, 8%)

  @include button($base, $top, $bottom, $options)

@mixin button-danger($options: '')
  $base: $danger-background
  $top: lighten($base, 20%)
  $bottom: $base

  @include button($base, $top, $bottom, $options)

@mixin button-dark($options: '')
  $base: $dark-background
  $bottom: darken($base, 5%)

  @include button($base, $base, $bottom, $options)

@mixin button-warning($options: '')
  $base: $warning-background
  $top: lighten($base, 5%)
  $bottom: darken($base, 15%)

  @include button($base, $top, $bottom, $options)
