.#{$prefix}container, .#{$prefix}page
  @include vlayout

  flex-grow: 1
  -webkit-flex-grow: 1

  // fix for a Firefox 34-35 bug
     http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow
  min-height: 1px

  &> div
    margin-bottom: 6px

.#{$prefix}page:not(.#{$prefix}current)
  display: none

.#{$prefix}messages
  flex-grow: 1
  -webkit-flex-grow: 1

  overflow-x: auto
  overflow-y: scroll

  text-shadow: 1px 1px darken($main-background, 5%)

.#{$prefix}message
  margin: 0

.#{$prefix}time
  color: $dark-foreground

@for $i from 0 through $msg-color-count - 1
  .#{$prefix}color#{$i + 1}
    $color: adjust-hue($light-foreground, $i * $msg-color-jump)

    @while luma($color) < $msg-min-luma
      $color: lighten($color, 5%)

    color: $color

.#{$prefix}input
  flex: 0 0 50px
  -webkit-flex: 0 0 50px

  background-color: transparent
  border: none
  color: $main-foreground

  @include box
  padding: 10px

  font-family: $main-font
  font-size: 1.2em

  resize: none
