.#{$prefix}container, .#{$prefix}page
  display: flex
  flex-direction: column
  flex-grow: 1

  overflow: auto

  // workaround for a Firefox 34-35 bug
     http://stackoverflow.com/questions/27424831/firefox-flexbox-overflow
  min-height: 1px

  &> div
    margin-bottom: 6px

.#{$prefix}page
  &:not(.#{$prefix}current)
    display: none

  &.#{$prefix}multiline
    .#{$prefix}messages
      display: none

    .#{$prefix}input
      font-family: monospace
      flex-grow: 1

.#{$prefix}messages
  flex: 1 0 10em

  overflow-x: auto
  overflow-y: scroll

  text-shadow: 1px 1px darken($main-background, 5%)
  padding-right: 6px

  hr
    border-color: $dark-foreground

.#{$prefix}message
  margin: 0

.#{$prefix}time, .#{$prefix}color0
  color: $dark-foreground

.#{$prefix}notices
  flex-shrink: 0
  margin-bottom: 0

  .#{$prefix}notice
    border-radius: 3px
    box-shadow: 0 0 5px $shadow
    margin-bottom: 5px
    background-color: $dark-background
    padding: 5px

    &.#{$prefix}error
      background-color: $danger-background

      .#{$prefix}close
        border: 1px solid $main-foreground

  .#{$prefix}title
    font-weight: bold

  .#{$prefix}close
    float: right

@for $i from 0 through $msg-color-count - 1
  .#{$prefix}color#{$i + 1}
    $color: adjust-hue($light-foreground, $i * $msg-color-jump)

    @while luma($color) < $msg-min-luma
      $color: lighten($color, 5%)

    color: $color

.#{$prefix}input
  flex: 0 0 50px

  background-color: transparent
  border: none
  color: $main-foreground

  @include box
  padding: 10px
  margin: 1px

  font-family: $main-font
  font-size: 1.2em

  resize: none

.#{$prefix}btn-active
  @include button-active

  color: darken($main-foreground, 10%)
  font-size: $small-size
  text-shadow: none

.#{$prefix}verbatim
  margin: 0
  white-space: pre-wrap
  word-break: break-all
