.#{$prefix}tab-button
  @include button
  @include button-dark

  flex: 1 0 auto
  -webkit-flex: 1 0 auto

  @include hlayout

  justify-content: space-between
  -webkit-justify-content: space-between

  align-items: center
  -webkit-align-items: center

  border-radius: 0

  &:first-child
    border-top-left-radius: 10px
    border-bottom-left-radius: 10px

  &:not(:last-child)
    border-right: 1px solid black

  &:last-child
    border-top-right-radius: 10px
    border-bottom-right-radius: 10px

  &.#{$prefix}current
    @include button-active

    &:active
      box-shadow: none

  &:not(.#{$prefix}current) .#{$prefix}close
    display: none

  .#{$prefix}alert
    color: $danger-background
    font-weight: bold
    font-size: 0.8em

    &:before
      content: "("

    &:after
      content: ")"

    &:empty
      display: none

.#{$prefix}tabbar
  @include box
  @include hlayout

  flex-wrap: wrap
  -webkit-flex-wrap: wrap

  padding: 1px
  font-size: 1.1em

  &:empty
    display: none
