$main-font: sans-serif

$main-background: #222
$light-background: lighten(#222, 30%)

$main-foreground: #fefefe
$contrast-foreground: #246662
$discreet-foreground: #777
$light-foreground: saturate($light-background, 70%)

$msg-color-count: 42
$msg-color-jump: 360 / $msg-color-count
$msg-min-luma: 0.3
