@import variables
@import functions
@import mixins

#bows-root
  background-color: $main-background
  text-rendering: optimizeLegibility

  color: $main-foreground
  font-family: $main-font
  font-size: $main-size

  display: flex
  display: -webkit-flex

  flex-direction: column
  -webkit-flex-direction: column

  ::-webkit-scrollbar
    width: 12px

  ::-webkit-scrollbar-track
    @include box

  ::-webkit-scrollbar-thumb
    @include box
    background-color: $bright-background

  ::-webkit-scrollbar-thumb:hover
    background-color: lighten($bright-background, 5%)

  &> div
    margin: 3px 6px 3px 6px

    &:first-child
      margin-top: 6px

.bows-tabbar
  @include box

  display: flex
  display: -webkit-flex

  padding: 1px
  font-size: 1.1em

  flex-shrink: 0
  -webkit-flex-shrink: 0

  .bows-tab-button
    @include button
    @include button-dark

    flex-grow: 1
    -webkit-flex-grow: 1

    display: inline-block
    list-style-type: none
    border-radius: 0

    &:first-child
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px

    &:not(:last-child)
      border-right: 1px solid black

    &:last-child
      border-top-right-radius: 10px
      border-bottom-right-radius: 10px

  .bows-active
    @include button-active

    text-align: center

    &:active
      box-shadow: none

.bows-messages
  flex-grow: 1
  -webkit-flex-grow: 1

  overflow-x: auto
  overflow-y: scroll

  text-shadow: 1px 1px darken($main-background, 5%)

.bows-message
  margin: 0

.bows-time
  color: $dark-foreground

@for $i from 0 through $msg-color-count - 1
  .bows-color#{$i + 1}
    $color: adjust-hue($light-foreground, $i * $msg-color-jump)

    @while luma($color) < $msg-min-luma
      $color: lighten($color, 5%)

    color: $color

.bows-input
  flex: 0 0 50px
  -webkit-flex: 0 0 50px

  background-color: transparent
  border: none
  color: $main-foreground

  font-family: $main-font
  font-size: 1.2em

  resize: none

.bows-close
  @include button
  @include button-danger

  padding: 0px 2px 0px 2px

  font-weight: bold
  font-size: 0.8em
