$prefix: bows-

@import variables
@import functions
@import mixins

##{$prefix}root
  background-color: $main-background
  text-rendering: optimizeLegibility

  color: $main-foreground
  font-family: $main-font
  font-size: $main-size

  display: flex
  flex-direction: column

  ::-webkit-scrollbar
    width: 12px

  ::-webkit-scrollbar-track
    @include box

  ::-webkit-scrollbar-thumb
    @include box
    background-color: $bright-background

  ::-webkit-scrollbar-thumb:hover
    background-color: lighten($bright-background, 5%)

  ::-webkit-scrollbar-corner
    background-color: $main-background

  &> div
    &:not(:last-child)
      margin: 3px 6px 3px 6px

    &:first-child
      margin-top: 6px

    &:last-child
      margin-bottom: 6px

  a
    color: $link-foreground
    text-decoration: underline

    &:hover
      color: desaturate($link-foreground, 30%)
      text-decoration: none

.#{$prefix}close
  @include button-danger

  padding: 0px 2px 0px 2px
  text-align: center

  font-weight: bold
  font-size: $small-size
  width: $small-size

.#{$prefix}hidden
  display: none

@import tabbar
@import page
@import popover
@import statusbar
