#bows-root
  background-color: #222
  color: #fefefe

  display: flex
  flex-direction: column

  &> div
    margin: 10px

#bows-messages
  flex-grow: 1

#bows-input
  height: 50px
  border: none

  color: #fefefe
  background-color: transparent

  font-family: sans-serif
  font-size: 1.2em
